/* ==========================================================================
   1. CONFIGURAÇÕES GERAIS (FONTS, RESET & BASE)
   ========================================================================== */
@font-face {
    font-family: "Skinship";
    src: url("Skinship Demo.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(Roboto-VariableFont_wdth\,wght.ttf) format("TrueType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SerifBold";
    src: url(FreeSerifBold.ttf) format("TrueType");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BirdsOfParadise";
    src: url(Birds\ of\ Paradise\ ©\ PERSONAL\ USE\ ONLY.ttf) format("TrueType");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0507; /* Um preto com fundo levemente vinho */
    color: #ffffff;
    font-family: sans-serif;
    min-height: 100vh;
    align-items: center;
}

.tela_escondida {
    display: none !important;
}

/* Elementos globais de interação */
button {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    background-color: rgb(163, 20, 67);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: rgb(66, 6, 24);
}

.foto_botao_pata:hover{
    scale: 1.07;
    filter: brightness(0.5);
}

video {
    pointer-events: none !important;
}


video::-webkit-media-controls,
video::-webkit-media-controls-overlay-play-button,
video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none !important;
}

/* ==========================================================================
   2. BACKGROUND ANIMADO (GALÁXIA)
   ========================================================================== */
#background_galaxia {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-image:
        /* estrelas */
        radial-gradient(3px 3px at 85% 15%, #ffffff, transparent),
        radial-gradient(3px 3px at 90% 20%, #ffffff, transparent),
        radial-gradient(2px 2px at 15% 85%, #ffffff, transparent),
        radial-gradient(5px 5px at 25% 20%, #ffffff, transparent),
        radial-gradient(3px 3px at 40% 20%, #ffffff, transparent),
        radial-gradient(5px 5px at 10% 40%, #ffffff, transparent),
        /* estrelas rosas românticas */
        radial-gradient(3px 3px at 55% 45%, #fda4af, transparent),
        radial-gradient(4px 4px at 80% 90%, #fda4af, transparent),
        radial-gradient(5px 5px at 35% 80%, #fda4af, transparent),
        /* NÚCLEO DA GALÁXIA: O grande brilho vermelho/vinho central */
        radial-gradient(circle at 50% 50%, rgba(225, 29, 72, 0.25) 0%, transparent 60%),
        /* NÉVOA SECUNDÁRIA: Um segundo brilho roxo/rosa no canto */
        radial-gradient(circle at 80% 70%, rgba(192, 38, 211, 0.15) 0%, transparent 50%);
    
    animation: pulsoGalaxia 10s ease-in-out infinite alternate;
}

@keyframes pulsoGalaxia {
    0% {
        opacity: 0.8;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.17);
    }
}


/* ==========================================================================
   3. HEADER (CABEÇALHO)
   ========================================================================== */
header {
    background-color: #3f0e2b;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 10;
}

#conteiner_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#titulo_header {
    font-family: "Skinship";
    font-size: 25px;
}

.botoes_header {
    color: #ffffff;
    font-size: 18px;
    background: none;
    border: none;
}


/* ==========================================================================
   4. TELA INICIAL
   ========================================================================== */
#conteiner_tela_inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    gap: 40px;
}

#conteiner_paragrafo_inicio {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
    background-color: #3f0e2b;
    padding: 20px;
    border-radius: 20px;

}

#paragrafo_inicial_1,
#paragrafo_inicial_2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    width: 730px;
    text-align: left;
    
}

#foto_baly_inicio {
    width: 450px;
    border-top: 12px double #3a093b;
    border-left: 12px double #3a093b;
    border-right: 12px double #000000;
    border-bottom: 12px double #000000;
}

/* Área do Botão de Pata Inferior */
#layout_botao_tela_inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#p-tela_inicial {
    font-family: "Skinship";
    font-size: 28px;
}

#botao_tela_inicial {
    background: none;
    border: none;
    cursor: pointer;
}

.foto_botao_pata {
    width: 80px;
}


/* ==========================================================================
   5. TELA DE DICAS
   ========================================================================== */
#tela_dicas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#titulo_tela_dicas {
    font-family: "Skinship";
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

#p-tela_dicas {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 23px;
    max-width: 600px;
    width: 60%;
    text-align: center;
    margin-top: 30px;
}

/* ==========================================================================
   ESTILIZAÇÃO ESTRUTURAL DOS GRIDS
   ========================================================================== */

.container_grid {
    display: grid;
    padding: 40px;
    justify-content: center;
    width: 100%;
}

.grid_3_cards{
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid_2_cards{
    grid-template-columns: repeat(2, 1fr);
    gap: 170px;
    max-width: 1000px;
    margin: 0 auto;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #6b0a1a;
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
    gap: 35px;
    
}

.titulos_grid {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#botao_grid1,
#botao_grid2,
#botao_grid3 {
    background: none;

}

.container_botao_card{
    font-family: "Skinship";
}

#foto_baly_presente,
#foto_baly_musica,
#video_baly_miando {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-style: double;
    border-width: 7px;
}

/* ==========================================================================
   DECORAÇÃO GRID 1
   ========================================================================== */

.grid_com_borda .card::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 160px;
    height: 160px;
    background-image: url(png-rosas.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 1;
}


/* ==========================================================================
   6. TELA DE DETALHE DOS PRESENTES
   ========================================================================== */

#tela_dica_presentes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#titulo_tela_dica_presentes{
    text-align: center;
    font-family: "Skinship";
    font-size: 20px;
    margin-top: 20px;
    width: 800px;
    max-width: 80%;
}

#conteiner_p_tela_dicas{
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;

}

#p-presente_ronronar,
#p-presente_mordidas_amor{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 27px;
    
}

#p-video_mordida_titulo{
    font-family: "Skinship";
    font-size: 32px;
}

.container_grid2 > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #6b0a1a;
    color: #000000;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
    gap: 35px;
}

#foto_baly_ronronando,
#video_baly_mordendo{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-style: double;
    border-width: 7px;
}

#p-tela_dicas_presentes{
    font-family: "BirdsOfParadise";
    font-size: 35px;
    margin-top: 120px;
}

/* ==========================================================================
   7. SISTEMA DA ANIMAÇÃO CARROSEL
   ========================================================================== */

.container_slider {
  position: relative;
  top: 0px;
  right: 22px;
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  perspective: 800px;
  margin-top: 120px;
}

.bloco {
  position: absolute;
  display: block;
  width: 390px;
  height: 247px;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-radius: 4px;
}

.container_bloco_slider {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 500px;
  height: 289px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.a {
  -webkit-transform: translate3d(70px, -80px, -50px);
  transform: translate3d(70px, -80px, -50px);
  opacity: .6;
}

.b {
  -webkit-transform: translate3d(110px, 80px, -60px);
  transform: translate3d(110px, 80px, -60px);
  opacity: .1;
}

.c {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  box-shadow: 0 20px 50px rgba(0, 34, 45, 0.5);
}

#first {
  background-color: blue;
}

#second {
  background-color: green;
}

#third {
  background-color: red;
}

.container_botao_slider {
  position: absolute;
  z-index: 20;
  bottom: -5px;
  left: 385px;
}

.btn {
  position: absolute;
  top: 0;
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  opacity: .5;
  border-radius: 50%;
  background-color: #cbcbcb;
}

.focus {
  width: 15px;
  height: 15px;
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
  opacity: 1;
  background-color: #5924c3;
}

#one {
  left: 0;
}

#two {
  left: 25px;
}

#three {
  left: 50px;
}