body {
    background-color: #fff5f6;
    background-image: 
        linear-gradient(white 2px, transparent 2px),
        linear-gradient(90deg, white 2px, transparent 2px);
    background-size: 35px 35px;
    margin: 0;
    padding: 0;
}

#titulo{
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

#subtitulo{
    text-align: left;
    width: 500px;
    margin-top: 40px;
    
}

button{
    color: rgb(0, 0, 0);
    background-color: rgb(250, 132, 132);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

}

button:hover{
    background-color: rgb(206, 111, 111);
}

#p-dica_caixa_bombom{
    font-size: 20px;
    width: 275px;
    text-align: left;
}

.conteiner_caixa_bombom{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.conteiner_subtitulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

#foto_caveira{
    width: 330px;
    height: 330px;
    
}

#foto_gato_presente{
    width: 230px;
}

#foto_gato_musica{
    width: 270px;
}

#foto_gato_poesia{
    width: 250px;
}

.botao_tela2{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#design_botao_tela2{
    padding: 30px;
    
}

#titulo_tela2{
    text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
  gap: 30px;
}

.container div {
  justify-content: center;
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  gap: 35px;
}

.grid1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.grid2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.grid3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

#botao_grid1{
    width: 80px;
}

#botao_grid2{
    width: 80px;
}


#botao_grid3{
    width: 80px;
}